{% capture srcset %}
{% for i in resized %}
    {% if i.width <= 1250 %}/{{ i.path }} {{ i.width }}w|{% endif %}
{% endfor %}
{% endcapture %}

{% capture webpsrcset %}
{% for i in resized %}
    {% assign path_webp = i.path | replace: '.png', '.webp' | replace: '.jpg', '.webp' | replace: '.jpeg', '.webp' %}
    {% if i.width <= 1250 %}/{{ path_webp }} {{ i.width }}w|{% endif %}
{% endfor %}
{% endcapture %}

{% assign smallest = resized | sort: 'width' | first %}
{% assign path_webp = path | replace: '.png', '.webp' | replace: '.jpg', '.webp' | replace: '.jpeg', '.webp' %}

<a href="/{{ path }}" title="{{ alt }}" class="image-popup">
<picture>
  <source
    {% if original.width <= 1250 %}width="{{ original.width }}"{% endif %}
    type="image/webp"
    data-srcset="{{ webpsrcset | split: '|' | join: ', ' }}{% if original.width <= 1250 %} /{{ path_webp }} {{ original.width }}w{% endif %}" sizes="{{ original.width }}px">
  <source
    {% if original.width <= 1250 %}width="{{ original.width }}"{% endif %}
    data-srcset="{{ srcset | split: '|' | join: ', ' }}{% if original.width <= 1250 %} /{{ path }} {{ original.width }}w{% endif %}" sizes="{{ original.width }}px">
  <img
    src="//:0"
    data-src="/{{ path }}"
    class="blur-up lazyautosizes lazyload"
    alt="{{ alt }}">
</picture>
</a>
