/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #121212 !default;
$text-color: rgba(255, 255, 255, 0.87) !default;
$muted-text-color: rgba(255, 255, 255, 0.6) !default;
$border-color: rgba(255, 255, 255, 0.12) !default;
$form-background-color: rgba(255, 255, 255, 0.05) !default;
$footer-background-color: #1a1a1a !default;

$primary-color: #bb86fc !default;

$link-color: #bb86fc !default;
$link-color-hover: rgba(255, 255, 255, 0.87) !default;
$masthead-link-color: rgba(255, 255, 255, 0.87) !default;
$masthead-link-color-hover: #bb86fc !default;

$code-background-color: #1e1e1e !default;
$code-background-color-dark: #333333 !default;

$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

/* Syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;
