/* ==========================================================================
   Google Adsense
   ========================================================================== */

.google-adsense-wrapper,
.google-adsense {
  width: 728px;
  height: 90px;
}
@media screen and (max-width: 768px) {
  .google-adsense-wrapper,
  .google-adsense {
    width: 336px;
    height: 280px;
  }
  .google-adsense-wrapper {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .google-adsense-wrapper,
  .google-adsense {
    width: 336px;
    height: 280px;
  }
  .google-adsense-wrapper {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}
