#theme-toggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.25em;
  padding: 0.5em;
  outline: none;

  .fa-sun,
  .fa-moon,
  .fa-circle-half-stroke {
    display: none;
  }
}

html[data-palette="auto"] #theme-toggle .fa-circle-half-stroke {
  display: inline-block;
}

html[data-palette="light"] #theme-toggle .fa-sun {
  display: inline-block;
}

html[data-palette="dark"] #theme-toggle .fa-moon {
  display: inline-block;
}
